# Ignore everything
/*

# Except these files & folders
!.eslintrc
!.eslintrc.*
!.prettierrc
!.prettierrc.*
!/.github
!/public
!/src
!astro.config.*
!storyblok.config.*
!package.json
!README.md
!tailwind.config.*
!tsconfig.json
!.vscode
!/scripts
!/storyblok/*.js
