---
import VideoGrid from '@/components/sections/VideoGrid.astro'
import PageHeader from '@/components/shared/PageHeader.astro'
---

<div class="py-10">
  <PageHeader title="Dashboard" />
  <main>
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <VideoGrid />
    </div>
  </main>
</div>
