---
import BaseLayout from '@/layouts/BaseLayout.astro'
import SiteHeader from '@/components/shared/SiteHeader.astro'
import Page from '@/components/pages/Page.astro'
---

<BaseLayout title="Service Desk - Friendly Developer">
  <div class="min-h-full">
    <SiteHeader />
    <Page />
  </div>
</BaseLayout>
